

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0C0C0C;
}

.menu-trigger {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: #050505;
    border: 1px solid #16C60C;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    z-index: 2001; /* Sopra a tutto */
}

.menu-trigger span {
    width: 40px;
    height: 3px;
    background: #16C60C;
    display: block;
}

.menu-trigger small {
    color: #16C60C;
    font-family: 'Consolas', monospace;
    font-size: 20px;
}

.sidebar {
    font-family: 'Consolas', monospace;
    font-size: 20px;
    /* 1. Posizionamento fisso: resta lì mentre scrolli il resto */
    position: fixed;
    left: 35px;          /* Distanza dal bordo sinistro */
    bottom: 110px;            
    width: 300px;
    min-height: 400px;
    background-color: #050505;
    border: 1px solid #333;    
    border-radius: 10px;       
    /* 3. Sicurezza */
    z-index: 1000;       /* Per stare sopra */
    overflow: hidden;    /* Taglia gli spigoli dei figli */
    transform: translateX(-350px);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar.active {
    transform: translateX(-15px); /* Entra in scena */
}

.link {
    text-decoration: none;
    color: #16C60C;
    font-family: 'Consolas', monospace;
}


.ascii-title {
    text-align: center;
    font-family: 'Consolas', monospace;
    font-size: 40px;
    line-height: 0.99;     /* Tiene le righe ben compatte */
    font-weight: bold;
    letter-spacing: -0.5px;
    white-space: pre;     /* Fondamentale per mantenere gli spazi */
    color: #16C60C; 
    padding-bottom: 60px; 
    margin: 0 auto;      
}

.overflow {
    overflow: auto;
}

#projects {
    scroll-margin-top: 30px;
}

.grid {
    display: grid;  /* Per avere un effetto griglia */
    grid-template-columns: 1fr 1fr;   /* Per avere più tiles che si ridimensionano automaticamente */
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    justify-content: center; /* Centra le tiles stesse se avanzano spazio orizzontale */

}

@media (max-width: 700px) {
    .grid {
        /* Quando lo schermo è sotto i 700px, passa a 1 colonna sola */
        grid-template-columns: 1fr; 
    }
}

.window {
    background-color: #050505;
    border: 1px solid #333;
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Consolas', monospace;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1E1E1E;
    padding: 10px 15px;
    color: #888;
    font-size: 20px;
    border-bottom: 1px solid #333;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #C01C28;
    display: inline-block;
    ;
}

.content_title {
    padding: 10px 15px;
    color:#16C60C;
    font-size: 25px;
}

.content_text {
    padding: 10px 15px;
    color: #D3D7CF;
    font-size: 20px;
}

.button {
    display: inline-block;
    margin: 15px;
    padding: 10px;
    color: #16C60C;
    background: transparent;
    border: 1.7px solid #16C60C;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background: #16C60C;
    color: #050505;
}

.about_me {
    margin: 0 auto;
    width: 1172px;
    padding: 15px;
    border-left: 3px solid #444;
    font-family: 'Consolas',monospace;
    font-size: 20px;
    color: #888;
    max-width: 100%;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: justify;
    line-height: 1.5;
}

#about {
    scroll-margin-top: 30px;
}

#contact {
    scroll-margin-top: 30px;
}

#comments {
    scroll-margin-top: 30px;
}

.dots::after {
    content: ''; /* Parte vuoto */
    animation: dots-animation 3s infinite; /* Gira all'infinito */
}

@keyframes dots-animation {
    0%   { content: ' '; }
    33%  { content: '.'; }
    66%  { content: '..'; }
    100% { content: '...'; }
}

.grid1 {
    display: grid;  /* Per avere un effetto griglia */
    grid-template-columns: 1fr;   /* Per avere più tiles che si ridimensionano automaticamente */
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    justify-content: center; /* Centra le tiles stesse se avanzano spazio orizzontale */
}

.window_1 {
    margin-left: 350px;
    width: 1200px;
    margin-bottom: 100px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.margin-top {
    margin-top: 130px;
}

/* Lo sfondo che copre il sito quando il popup è aperto */
#overlay {
    display: none; /* Nascosto di base */
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Nero semitrasparente */
    backdrop-filter: blur(5px);    /* Effetto sfocato Windows 11 */
    z-index: 3000;                 /* Sopra a tutto, anche alla sidebar */
}

/* La Finestra Modal */
.modal-window {
    display: none; /* Nascosta di base */
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%); /* Centra perfettamente */
    width: 80%;
    max-width: 1100px;
    max-height: 600px;
    z-index: 3001;                 /* Sopra l'overlay */
    overflow: auto;
}

/* Classe per mostrare (usata da JS) */
.modal-active {
    display: block !important;
}

@keyframes window-pop {
    0% { transform: translate(-50%, -50%) scale(1); opacity: 0.6; }
    100% { transform: translate(-50%, -50%) scale(1); opacity: 1; }
}

.modal-window.modal-active {
    display: block !important;
    animation: window-pop 0.2s;
;
}

.images {
    width: 300px;
    height: 300px;
    border: 1px solid #333;
    border-radius: 6px;
    margin: 20px 10px;
}

.comments_log {
    border-top: 1px solid #333;
    display: flex;
    align-items: center;
    margin-top: 15px;
    position: relative;
    flex-grow: 1;
}

.input {
    background: transparent !important;
    border: none !important;
    color: #D3D7CF !important;
    font-family: 'Consolas', monospace !important;
    font-size: 20px;
    outline: none !important;
    flex-grow: 1; /* Prende tutto lo spazio disponibile */
    caret-color: #D3D7CF;
    caret-shape: block;
    padding-left: 10px;
}

.terminal-user {
    font-family: 'Consolas', monospace;
    font-size: 20px;
    color: #16C60C;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.terminal-input {
    display: flex;
    justify-content: right;
}

.counter {
    margin: 0 auto;
    padding: 10px;
    background-color: #050505;
    font-family: 'Consolas', monospace;
    font-size: 20px;
    color: #D3D7CF;
    overflow: hidden;
    border: 1px solid #333;
    border-radius: 6px;
}