body{
    background-color: #292929;
}


.titolo {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: coral;
    font-size: 30px;
}
.sottotitolo {
    text-align:left;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 20px;
    padding-left: 100px;
}


.testo {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
}
.text-box {
    width: 80%;
    margin: 20px auto;     /* centrato orizzontalmente e spazio sopra/sotto */
    padding: 0px;         /* spazio interno tra testo e bordi */
    background-color: #292929; /* sfondo del blocco (scuro) */
    color: white;        /* colore del testo */
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: justify;
}
.text-box1 {
    width: 80%;
    margin: 20px auto;     /* centrato orizzontalmente e spazio sopra/sotto */
    padding: 0px;         /* spazio interno tra testo e bordi */
    background-color: #292929; /* sfondo del blocco (scuro) */
    color: white;        /* colore del testo */
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center;
}
.riga {
    color: coral;
}

.photo-link {
    color: coral;
    text-decoration: underline;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 18px;
  }
  
  .modal {
    display: none;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.8);
    text-align: center;
    padding-top: 50px;
    z-index: 1000;
  }
  
  .modal-content {
    background: #333;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    max-width: 90%;
    width: 70vw;   /* 80% della larghezza dello schermo */
    height: 90vh;  /* 80% dell’altezza dello schermo */
    overflow-y: auto; /* aggiunge scroll se il contenuto è più grande */
    box-sizing: border-box; /* include il padding nella dimensione */
  }
  
  .modal-images img {
    width: 45%;
    margin: 10px;
    border-radius: 5px;
  }
  
  .close {
    cursor: pointer;
    float: right;
    font-size: 60px;
    color: #aaa;
  }
  
  .close:hover {
    color: #fff;
  }
  .download-link {
    display: inline-block;
    margin-top: 15px;
    color: white;
    text-decoration: underline;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    
  }
  